


html {
    background-image: images/gameScreenbackground-waterfall;
    height: 100%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#divider { 
    display: flex; 
    height: 100%;
    align-items: center; 
    flex-direction: column; 
}

#play{ 
    width: 100%; 
    max-width: 500px; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
}

header { 
    border-bottom: 1px solid rgb(58, 58, 60); 
}
#grid { 
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px; 
    padding: 10px; 
    box-sizing: border-box;
}

#grid-divider { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-grow: 1; 
    overflow: hidden; 
}

.square { 
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

#shapes-divider { 
    display: flex; 
    justify-content: center;
    width: 100%; 
    margin: 0 auto 8px; 
    touch-action: manipulation; 
}

#shapes-divider button {
    font-family: inherit;
    font-weight:bold; 
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;   
}