body {
    background-image: url("../images/crying.gif");
    background-size: 380px;
}

.center {
    text-align: center;
}

.rect {
    height:800px;
    width:790px;
    background:#f7f8f4;
    color:black;
    text-align: center;
    stroke: black;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

}

.button1 {
    
    font-size: 60px;
    background-color: rgb(24, 59, 20);
}

.button1 {
    font-size: 70px;
}

